<img src="assets/img/hamburger.png">

<h1>Eat Da Burger!</h1>

<h2>Burgers to eat:</h2>

    {{#each burgers}}
        {{#unless devoured}}
            <div data-id={{this.id}}>
           <p>{{this.id}}. {{this.burger_name}}</p>
           <button  class="devoured" data-id="{{this.id}}">Devoured!</button>
           </div>
        {{/unless}}
    {{/each}}



<h2>Burgers that have been devoured:</h2>

 <ul>
  {{#each burgers}}
    {{#if devoured}}
       <div data-id={{this.id}}>
       <p>{{this.id}}. {{this.burger_name}}</p> 
       </div>
    {{/if}}
  {{/each}}
</ul>

<script type="text/javascript">

$(".devoured").on("click", function(event) {
    var id = $(this).data("id");
    var newDevouredState = {
      devoured: true
    };
    console.log(id)
     $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: newDevouredState
    }).then(
      function() {
        location.reload();
      }
    );
})

</script>

